<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Jasmine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " routerLink="/shoping-cart" routerLinkActive="active"> shoping-cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/login" routerLinkActive="active">login </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Username
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/myorders">My ordeers</a></li>
                        <li><a class="dropdown-item" routerLink="/admin/orders">Mange Order</a></li>
                        <li><a class="dropdown-item" routerLink="/admin/product">Mange Products</a></li>
                        <li><a class="dropdown-item" >Log Out</a></li>
                    </ul>
                </li>
     
            </ul>
        </div>
    </div>
</nav>