<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf=" cart$|async as cart">

    <p>
        You have {{cart.totalItemsCount}} items in your shopping cart
        <button *ngIf="cart.items.length" (click)="Clear()" class="btn btn-light btn-sm">
            Clear Shopping Cart
        </button>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th class="text-center w-230">Quentity</th>
                <th class="text-center w-230">Price</th>
                <th class="text-right w-230">Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td><img [src]="item.imgUrl" class="thumbnail" alt=""></td>
                <td>
                    {{ item.title}}
                </td>
                <td class="text-center">
                    <app-product-quantity [Product]="item" [shoping_cart]="cart"></app-product-quantity>

                    <!-- {{ item.quantity}} -->
                </td>
                <td class="text-center">
                    {{ item.price}}
                </td>
                <td class="text-right">
                    {{item.totalPrice |currency:'USD':true}}
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{cart.totalPriceCart |currency:'USD':true}}</th>
            </tr>
        </tfoot>
    </table>
    <button *ngIf="cart.items.length" class="btn btn-primary " [routerLink]="['/check-out']"
        routerLinkActive="router-link-active">
        Check out
    </button>
</div>