<div class="row mt-4">
    <!-- form -->
    <div class="col-md-6">
        <form class="row " #f="ngForm" (ngSubmit)="save(f.value)">
            <!-- title -->
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="product.title" required #title="ngModel" name="title"
                    placeholder="Placeholder">
            </mat-form-field>
            <div class="custom-error mb-2" *ngIf="title.touched&& title.invalid">
                Title is required
            </div>
            <!-- Price -->
            <mat-form-field appearance="outline">
                <mat-label> <mat-icon matPrefixes> attach_money</mat-icon>Price </mat-label>
                <input type="number" matInput [(ngModel)]="product.price" required #price="ngModel" name="price"
                    placeholder="Placeholder" [min]="0">
            </mat-form-field>
            <div class="custom-error mb-2" *ngIf="price.touched&& price.invalid">
                <div class="" *ngIf="price.errors?.required"> Price is required</div>
                <div class="" *ngIf="price.errors?.min"> Price should be 0 or higher</div>

            </div>
            <!-- Category -->
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="product.category" required #category="ngModel" name="category">
                    <mat-option *ngFor="let category of  categories$|async  "
                        [value]="category.name">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="custom-error mb-2" *ngIf="category.touched&& category.invalid">
                Category is required
            </div>
            <!-- Image Url -->
            <mat-form-field appearance="outline">
                <mat-label>Image Url</mat-label>
                <input matInput [(ngModel)]="product.imgUrl" required url #imgUrl="ngModel" name="imgUrl"
                    placeholder="Placeholder">
            </mat-form-field>
            <div class="custom-error mb-2" *ngIf="imgUrl.touched&& imgUrl.invalid">
                <div class="" *ngIf="imgUrl.errors?.required"> image Url is required</div>
                <div class="" *ngIf="imgUrl.errors?.url"> Please enter a valid URL</div>
            </div>

            <div class="col-4">
                <button mat-raised-button color="primary">{{action}}</button>
            </div>

        </form>
    </div>
    <!-- card -->
    <div class="col-md-6">
        <app-product-card [Product]="product" [show_actions]="false"></app-product-card>
    </div>
</div>